<div style="position: relative; width: 1000px; height: 300px; overflow: hidden;">
<img alt="" src="https://cdn.shopify.com/s/files/1/0064/5342/8271/products/TWOT15-1200-Front-2.jpg?v=1655746441" style="position: absolute; top: -350px; left: -50px; width: 1000px; height: 1000px;"/>
</div> 
<h2>
    <span style="font-family: Trebuchet MS,Helvetica, sans-serif">
        <span style="font-size:48px">&quot;{{ data.quote }}&quot;</spa n>
        </span>
</h2>
<p>- {{data.author}}, &nbsp;<em>{{data.title}}</em></p>
